page-denunciate {
    ion-textarea{
        border: solid 1px;
        border-radius: 5px;
        border-color: #E8E8E8;
        margin-top: 5px;
    }

    .no-other-type {
        background-color: #E8E8E8;
    }
}
