<ion-content>
  <ion-item>
    <h2>Ayudanos a comprender el motivo del reporte</h2>
  </ion-item>

  <ion-item *ngFor="let item of options; let i=index">
    <ion-label>{{item.description}}</ion-label>
    <ion-checkbox [ngModel]="checkedIdx == i" (ngModelChange)="$event ? checkedIdx = i : checkedIdx = -1"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-textarea [(ngModel)]="otherDescription" [ngClass]="checkedIdx == 3 ? 'other-type' : 'no-other-type'" rows="4" maxlength="50" [disabled]="checkedIdx != 3"></ion-textarea>
  </ion-item>

  <button ion-button block (click)="reportAlert()" [disabled]="(checkedIdx == 3 && otherDescription == '') || checkedIdx == -1">Reportar</button>
</ion-content>