<ion-content class="bg-image">
  <h1 class="app-name-title">{{appName}}</h1>
  <ion-item text-center color="primary">Versión {{versionNumber}}</ion-item>
  <ion-item text-center color="primary">© 2019 Abdy Soft</ion-item>
</ion-content>
