<ion-content padding>

  <img class="portada-login" src="assets/imgs/portada.png">

    <ion-list class="tab-opciones">
	
      <ion-segment [(ngModel)]="option">
        <ion-segment-button value="login">
          Loguearse
        </ion-segment-button>
		
        <ion-segment-button value="registrarse">
          Registrarse
        </ion-segment-button>
      </ion-segment>
	  
    </ion-list>

    <div [ngSwitch]="option">
      <p *ngIf="submitAttempt" style="color: #ea6153; text-align: center;">Por favor complete todos los datos correctamente.</p>
 
      <ion-list *ngSwitchCase="'login'">

        <p class="login-with-title">Logueate con tu cuenta</p>

        <div id="wrapper">
          <button ion-button (click)="loginWithFacebook()" icon-start>
            <ion-icon name="logo-facebook"></ion-icon>
            Facebook
          </button>
        </div>

        <p class="or-login-with-title"><span>O</span></p>

        <form [formGroup]="loginForm" (ngSubmit)="login()">

          <ion-item>
            <ion-label color="primary" stacked>Email</ion-label>
            <ion-input formControlName="email" type="email" class="email-input" [class.invalid]="!loginForm.controls.email.valid && (loginForm.controls.email.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!loginForm.controls.email.valid && (loginForm.controls.email.dirty || submitAttempt)">
            <p class="invalid-input">Email no válido</p>
          </ion-item>

          <ion-item>
            <ion-label color="primary" stacked>Contraseña</ion-label>
            <ion-input formControlName="password" [type]="passwordType" [class.invalid]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)"></ion-input>
            <button type="button" ion-button clear item-end (click)='hideShowPassword(1)' style="height:32px;">
              <ion-icon [name]="passwordIcon" style="font-size:32px;"></ion-icon>
            </button>
          </ion-item>

          <button ion-button block type="submit" [disabled]="!loginForm.valid">Ingresar</button>
		  
          <div class="forgot-password">
            <a (click)="openPage('ResetPasswordPage')">¿OLVIDASTE TU CONTRASEÑA?</a>
          </div>
		  
        </form>

      </ion-list>

      <ion-list *ngSwitchCase="'registrarse'">

        <form [formGroup]="registForm" (ngSubmit)="createAccount()">
		
          <ion-item>
            <ion-label color="primary" stacked>Nombre</ion-label>
            <ion-input formControlName="firstName" type="text" maxlength="30" text-capitalize [class.invalid]="!registForm.controls.firstName.valid && (registForm.controls.firstName.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!registForm.controls.firstName.valid && (registForm.controls.firstName.dirty || submitAttempt)">
            <p class="invalid-input">Nombre no válido</p>
          </ion-item>

          <ion-item>
            <ion-label color="primary" stacked maxlength="30">Apellido</ion-label>
            <ion-input formControlName="lastName" text-capitalize type="text" maxlength="30" [class.invalid]="!registForm.controls.lastName.valid && (registForm.controls.lastName.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!registForm.controls.lastName.valid && (registForm.controls.lastName.dirty || submitAttempt)">
            <p class="invalid-input">Apellido no válido</p>
          </ion-item>

          <ion-item>
            <ion-label color="primary" stacked>Email</ion-label>
            <ion-input formControlName="email" type="email" class="email-input" maxlength="115" [class.invalid]="!registForm.controls.email.valid && (registForm.controls.email.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!registForm.controls.email.valid && (registForm.controls.email.dirty || submitAttempt)">
            <p class="invalid-input">Email no válido</p>
          </ion-item>

          <ion-item>
            <ion-label color="primary" stacked>Contraseña</ion-label>
            <ion-input formControlName="password" [type]="passwordType2" maxlength="30"></ion-input>
            <button type="button" ion-button clear item-end (click)='hideShowPassword(2)' style="height:32px;">
              <ion-icon [name]="passwordIcon2" style="font-size:32px;"></ion-icon>
            </button>
          </ion-item>

          <ion-item>
            <ion-label color="primary" stacked>Confirmar contraseña</ion-label>
            <ion-input formControlName="confirmedPassword" [type]="passwordType3" maxlength="30"></ion-input>
            <button type="button" ion-button clear item-end (click)='hideShowPassword(3)' style="height:32px;">
              <ion-icon [name]="passwordIcon3" style="font-size:32px;"></ion-icon>
            </button>
          </ion-item>
      
          <ion-item class="accept-terms-item">
            <ion-label>Acepto los <a (click)="openPolicies()">Términos y Condiciones</a></ion-label>
            <ion-checkbox formControlName="acceptTermsCheck" [(ngModel)]="acceptTermsCheck" class="accept-terms-checkbox"></ion-checkbox>
          </ion-item>

          <button ion-button block type="submit" [disabled]="!registForm.valid">Registrarme!</button>
		  
        </form>

      </ion-list>

    </div>

</ion-content>
