progress-bar {
    .progress-outer {
        width: 96%;
        margin: 0px 0%;
        padding: 1px;
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 20px;
    }

    .progress-inner {
        min-width: 10%;
        white-space: nowrap;
        overflow: hidden;
        padding: 1px;
        border-radius: 20px;
        background-color: map-get($colors, primary);
        transition: width 1s ease;
    }

    
}
