<ion-content class="contet-full-page">
  <ion-slides pager [initialSlide]="index">
    <ion-slide *ngFor="let img of images; let i = index" class="img-slide">
      <div class=frame>
        <span class="helper"></span>
        <img src="assets/imgs/default.png" class="file-container" (load)="loaded = false" [hidden]="loaded || img.type == 'mp4'">
        <img [src]="img.src" class="file-container" *ngIf="img.type=='jpg'" (load)="loaded = true">
        <video [src]="img.src" class="file-container" controls *ngIf="img.type=='mp4'" (load)="loaded = true"></video>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
