<ion-content>
    <progress-bar class="progress-bar" [progress]="loadProgress" *ngIf="loadProgress>0"></progress-bar>
    <!--<ion-item *ngIf="loadProgress==100"><ion-icon src="/assets/icon/check.png" ></ion-icon>Alerta cargada correctamente</ion-item>-->
  
    <ion-refresher (ionRefresh)="refresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    
    <ion-card *ngFor="let alert of alerts" class="alert-preview">
  
      <ion-item text-wrap class="alert-header">
  
        <ion-row>
          <ion-col col-auto class="avatar-col">
            <ion-avatar item-start class="avatar-profile-img" (click)="openPage('ProfilePage', { uid: alert.uid })">
            <img-loader [src]="alert.userImg" useImg fallbackUrl="assets/imgs/default-profile.jpg"></img-loader>
            </ion-avatar>
          </ion-col>
  
          <ion-col col-9 class="user-name-col" (click)="openPage('ProfilePage', { uid: alert.uid })">
            <h2 class="user-name">
            {{ alert.displayName }}
            <ion-icon *ngIf="alert.userChecked" name="custom-correct"></ion-icon>
            </h2>
            <p *ngIf="alert.alertType != 'Publicidad'">{{ alert.registDate | timeAgo }} · <ion-icon name="md-globe"></ion-icon></p>
            <p *ngIf="alert.alertType == 'Publicidad'">Publicidad · <ion-icon name="md-globe"></ion-icon></p>
          </ion-col>
          
          <ion-col col-auto (click)="presentPopover($event, alert)">
            <ion-icon class="more-icon" name="ios-more"></ion-icon>
          </ion-col>
        </ion-row>
  
        </ion-item>
  
      <ion-item class="image-container" *ngIf="alert.images.length>0">
        <ion-slides pager (ionSlideNextStart)="loadNextImage(alert.id)">
          <ion-slide *ngFor="let img of alert.images; let i = index" [ngClass]="img.thumbnail ? 'video-thumbnail img-slide' : 'img-slide'"(click)="viewFile(img)">
            <img-loader [src]="img.thumbnail ? img.thumbnail : img.src" useImg></img-loader>
          </ion-slide>
        </ion-slides>
      </ion-item>
  
      <ion-item *ngIf="alert.alertType != 'Publicidad'" class="item-chapa" text-wrap>
        <p ><b>Fecha:</b> {{ alert.alertDate }} </p>
        <p *ngIf="alert.alertCity"><b>Ciudad:</b> {{ alert.alertCity }} </p>
        <p *ngIf="alert.type"><b>Categoría:</b> {{ alert.alertType }} </p>
        <p *ngIf="alert.chapasNo.length>0"><b> Chapa: </b> <span class="chapa-span" *ngFor="let chapa of alert.chapasNo">{{ chapa }}</span> </p>
      </ion-item>
  
      <ion-card-content (click)="openPage('ViewAlertPage', {alert: alert})">
        <div *ngIf="alert.description.length <= readLimit">{{alert.description}}</div>
        <div *ngIf="alert.truncating && alert.description.length > readLimit">
          {{alert.description | truncate : readLimit}}
          <!--<a (click)="alert.truncating = false">leer más</a>-->
          <a>leer más</a>
        </div>
        <div *ngIf="!alert.truncating && alert.description.length > readLimit">
          {{alert.description}}
          <!--<a (click)="alert.truncating = true">mostrar menos</a>-->
          <a (click)="alert.truncating = true">mostrar menos</a>
        </div>
      </ion-card-content>
  
  
      <ion-row style="height: 1.5em !important; padding-left: 0.9em !important;">
        <ion-col *ngIf="alert.likesCount>0">
          <ion-icon name="ios-thumbs-up"></ion-icon> {{alert.likesCount}}
        </ion-col>
        <ion-col *ngIf="alert.commentsCount>0" class="comments-col" (click)="presentModal('CommentsPage', {alertId: alert.id})">
          {{alert.commentsCount}} comentario{{alert.commentsCount > 1 ? 's' : ''}}
        </ion-col>
      </ion-row>
  
      <ion-row class="item-pie">
  
        <ion-col class="col-foot">
          <button ion-button icon-left clear small (click)='likeIt(alert)'>
            <!--<ion-icon [name]="alert.userLiked == 0 ? 'ios-thumbs-up-outline' : 'thumbs-up'"></ion-icon>-->
            <!--<ion-icon src="/assets/icon/thumbs-up.svg"></ion-icon>-->
            <i [class]="alert.userLiked == 0 ? 'fa fa-thumbs-o-up' : 'fa fa-thumbs-up'" style="padding-right: 5px !important"></i>
            Me gusta
          </button>
        </ion-col>
  
        <ion-col class="col-foot">
          <button ion-button icon-left clear small (click)="presentModal('CommentsPage', {alertId: alert.id})">
            <!--<ion-icon name="ios-text-outline"></ion-icon>-->
            <i class="fa fa-comments-o" style="padding-right: 5px !important" aria-hidden="true"></i>
            Comentar
          </button>
        </ion-col>
  
        <ion-col col-4 class="col-foot">
          <button ion-button icon-left clear small (click)="presentModal('CommentsPage', {alertId: alert.id})">
            <!--<ion-icon name="ios-text-outline"></ion-icon>-->
            <i class="fa fa-share" style="padding-right: 5px !important" aria-hidden="true"></i>
            Compartir
          </button>
        </ion-col>
      </ion-row>
  
    </ion-card>
  
    <ion-spinner [hidden]="!loading"></ion-spinner>
    
    <ion-fab right bottom>
      <button ion-fab primary (click)="openPage('ManageAlertPage')"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
