page-verify-email {
    /*.scroll-content {
        padding: 0 !important;
    }*/

    .title {
        text-align: center;
    }

    .or-you-can-paragraph span {
        background: #fff;
        padding: 0 10px;
        color: #A6ACAF;
        text-align: center;
      }
    
}
