<ion-header>

  <ion-navbar color="primary">
    <ion-title>Verifica tu Email</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 class="title"> {{title}} </h1>
  <br />
  <p>Por favor, verifica tu cuenta de email y ya podrás ingresar a Debari.</p>
  <br />
  <p>¿No te ha llegado el email de confirmación? Verifica tu buzón de correo no deseado.</p>
  <p style="text-align: center;" class="or-you-can-paragraph"><span>O puedes</span></p>
  <button ion-button block (click)="sendEmailVerification()">Reenviar verificación</button>
</ion-content>
