<ion-content padding>
  <svg id="bars" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.15 224.35">
    <defs>
      <style>
        .cls-1 {
          fill: #dd238c;
        }

        .cls-2 {
          fill: #ef4328;
        }

        .cls-3 {
          fill: #7dd0df;
        }

        .cls-4 {
          fill: #febf12;
        }

        .cls-5 {
          fill: #282828;
        }
      </style>
    </defs>
    <title>jmlogo</title>
    <rect class="cls-1" x="27.22" width="20.06" height="163.78" />
    <rect class="cls-2" y="4" width="20.06" height="163.78" />
    <rect class="cls-3" x="13.9" y="13.1" width="20.06" height="163.78" />
    <rect class="cls-4" x="43.1" y="7.45" width="20.06" height="163.78" />
    <g style="fill:rgb(215,229,211);fill-rule:evenodd;stroke:rgb(215,229,211);stroke-width:0.1;" id="l1">
      <path d="M0,0h233v47h-233z" />
      <path d="M15,15h4l3,1l3,3l1,3v9l-1,3l-1,2l-2,2l-3,1h-4l-3-1l-3-3l-1-3v-10l1-3l3-3zm30,8h3l2,1l1,1l1,4v4l-1,3l-3,3h-3l-2-1l-2-2v-10l2-2zm42,0h5l2,2v4h-10v-3l1-2zm128,0h4l3,3l1,2v7l-4,4h-4l-2-1l-2-2l-1-4v-2l1-4l2-2z" />
      <path d="M149,32h6v5l-2,2h-5l-2-2v-3l1-1z" />
    </g>
    <g style="fill:rgb(4,4,4);fill-rule:evenodd;stroke:rgb(4,4,4);stroke-width:0.1;" id="l2">
      <path d="M37,9h3c0,14,2,14,2,13l1-1l2-1h5l2,1l1,1l2,4v10l-1,2l-3,3l-3,1h-3l-2-1l-1-1v-1h-3v3h-2zm11,30v-1h2v-1l1-1h1v-3l1-4h-1v-3h-1l-1-1v-1h-2l-3-1v1h-3v1l-1,1h-1v10h1l1,1v1h3zm-33-27h4l5,1l4,4l1,2l1,4v7l-1,4l-2,4l-1,1l-2,1c-2,0-2,1-3,2h-6l-5-1l-5-5l-1-3v-10l1-4l1-2l3-3l2-1zm-6,24h1l1,1v1h12v-1l1-1h1v-2h1v-3l1-9h-1l-1-2v-2h-1l-1-1v-1h-2v-1l-6,1h-4v1l-2,2h-1v3l-1,10h1l1,3z" />
      <path d="M193,14h3v6h6v3h-6v15h6v3l-1,1h-5l-2-2l-1-2v-15h-3v-3h3zm-126,6h3l3,1v3h-1c-7-1-7,0-8,1h-1c0,2,1,2,2,3v1h2v1h4l3,3v6l-2,2l-4,1h-3l-3-1l-1-1v-2h3c6,1,6,0,7-1h1c0-2-1-2-2-3c0-1-2-1-5-2l-4-4v-4l1-2l1-1z" />
      <path d="M88,20h5l4,4l1,3v4l-1,1c-14,0-14,4-13,4l1,1v1h2v1c6,0,6-1,9-2h1v3l-1,1l-5,1h-3l-4-1l-3-3l-1-2v-10l1-2l3-3zm-5,9h12v-4h-1l-1-1v-1h-8v1l-1,2h-1zm22-9h2c0,4,2,4,2,3l3-3h4v3l-6,2c-1,0-1,2-2,17h-3zm15,0h2l2,4l4,12v2h2v-2h1v-4l1-3l1-2h1v-3l1-3l1-1h2v3l-1,3l-1,2h-1v3l-1,3l-1,2h-1v3l-1,2l-1,1h-3l-2-4l-2-6c0-3-1-3-2-5l-1-3z" />
      <path d="M148,20h7l3,3l1,2v17h-2c0-3-2-3-2-2l-1,1l-2,1h-5l-2-1l-2-2v-6l3-3l5-1c5,0,5-4,4-4l-1-1v-1c-6,0-6,1-9,2h-1v-3l1-1zm-2,13v2l-1,2h1l1,1v1h6v-1l2-1h1v-5l-9,1zm21-13h3c0,17,1,17,2,18v1l4-1c3,0,3-1,5-3h1v-15h2v22h-2c0-3-3-3-3-2l-1,1l-3,1h-2l-3-1l-2-2l-1-3z" />
      <path d="M214,20h6l2,1l4,4v11l-1,2l-3,3l-4,1h-3l-4-1l-3-3l-1-2v-9l2-4l2-2zm-4,16h1l1,1v1h3l4,1v-1h2v-1l1-1h1v-2l1-6h-1v-2h-1l-1-1v-1h-2l-4-1v1h-3v1l-1,1h-1z" />
    </g>
    <g style="fill:rgb(79,161,227);fill-rule:evenodd;stroke:rgb(79,161,227);stroke-width:0.1;" id="l3">
      <path d="M40,9h1v14h-1zm156,6h1v5h-1zm6,5h1v3h-1zm-150,1h1l1,1v1h-1l-1-1zm118,0h1v15h-1zm-140,2h1v7h-1zm35,0h1v1l-1,1h-1v-1zm31,0h1l1,1v1h-1l-1-1zm27,0h1l1,1v1h-1l-1-1zm73,0h1v13h-1zm29,1h1l1,1v1h-1l-1-1zm-141,1h1v1l-1,3h-1v-3zm53,0h1v1l-1,2h-1v-2zm22,0h1v17h-1z" />
      <path d="M109,26h1v1l-1,15h-1v-15zm-69,1h1v8h-1zm58,0h1v2h-1zm112,1h1v2h-1zm-127,4h1c0,4,1,4,2,5v1h-1l-2-2zm127,0h1v2h-1zm-181,1h1v1l-2,4l-1,1h-1v-1l2-4zm197,1h1v2l-1,2h-1v-2zm-171,1h1v1l-1,2h-1v-2zm147,3h1v3l-1,1h-1v-1zm-129,1h1v1l-1,1h-1v-1zm24,0h1v1l-1,1h-1v-1z" />
    </g>
    <g style="fill:rgb(200,128,45);fill-rule:evenodd;stroke:rgb(200,128,45);stroke-width:0.1;" id="l4">
      <path d="M8,14h1v1l-2,2h-1v2l-1,2h-1v-2l1-2zm184,0h1v6h-1zm-167,6h1v2h-1zm110,0h1v1l-2,6l-1,2h-1v-2l1-3l1-3zm31,0h1v16h-1zm-83,1h1v1l-2,2h-1v-1zm61,0h1v1l-1,3h-1v-3zm65,1h1v1l-1,1h-1v-1zm-206,1h1v9h-1zm58,0h1v1l-1,4h-1v-4zm31,0h1l2,2v2h-1c0-2-1-2-2-3zm100,0h1v15h1c0,2,1,2,2,3v1h-1l-2-2l-1-2z" />
      <path d="M120,24h1v2h-1zm35,1h1v2h-1zm-104,1h1v3h-1zm28,1h1v3h-1zm42,0h1l1,2l1,3v2h-1l-1-2l-1-3zm85,0h1v2h-1zm-181,4h1v2h-1zm-21,2h1v2h-1zm47,0h1v3l-2,2h-1v-1l1-1h1zm28,0h1v2h-1zm63,0h1v2h-1zm64,0h1l1,3v2h-1l-1-2zm-82,2h1v2h-1zm56,0h1v1l-2,2h-1v-1zm42,0h1v1l-2,2h-1v-1zm-142,1h1v2h-1zm-10,1h1v1l-1,1h-1v-1zm-29,2h1l1,1v1h-1l-1-1zm102,0h1l1,1v1h-1l-1-1zm-17,1h1v2h-1z" />
    </g>
    <g style="fill:rgb(12,87,166);fill-rule:evenodd;stroke:rgb(12,87,166);stroke-width:0.1;" id="l5">
      <path d="M25,14h1l3,3l1,2v2h-1l-1-2c0-2-1-2-3-4zm91,6h1v2h-1zm22,0h1v3l-1,2h-1v-2zm46,0h1v22h-1zm-176,1h1v1l-1,10h1c0,3,1,3,3,5v1h-1l-3-3l-1-3v-10zm65,0h1v3h-1zm-20,2h1l1,1l1,2v3h-1c0-3-1-3-2-5zm159,1h1v1l-1,1h-1v2h-1v-2zm14,2h1v2h-1zm-101,1h1l3,9v2h-1l-1-2l-2-6z" />
      <path d="M135,28h1v3l-1,3l-1,2h-1v3l-1,3h-2v-1l1-2h1v-3l1-2h1v-3zm-68,1h2v1h-2zm31,0h1v2l-1,1h-1v-1zm-26,2h1l2,2v5h-1c0-5-1-5-2-6zm-17,2h1v2h-1zm115,3h1l1,1v1h2v1h-2l-2-2zm41,0h1l1,1v1h-1l-1-1zm-114,1h1v2h-1zm49,0h1l1,1v1h-1l-1-1zm78,1h1v1l-2,2h-1v-1zm-200,1h1v1l-1,1h-2v-1zm151,2h2v1h-2z" />
    </g>
    <g style="fill:rgb(238,173,100);fill-rule:evenodd;stroke:rgb(238,173,100);stroke-width:0.1;" id="l6">
      <path d="M36,10h1v32h-1zm6,11h1v1l-1,1h-1v-1zm20,0h1v1l-1,1h-1v-1zm42,0h1v20h-1zm15,1h1v2h-1zm34,1h1l1,1v1h-1l-1-1zm67,1h1l2,2v2h-1c0-2-1-2-2-3zm-126,3h1v2h-1zm61,0h1v2h-1zm0,5h1v4h-1zm-86,1h1l1,1v1h-1l-1-1zm73,4h1v2h-1zm-17,1h1v2h-1z" />
    </g>
    <g style="fill:rgb(60,14,9);fill-rule:evenodd;stroke:rgb(60,14,9);stroke-width:0.1;" id="l7">
      <path d="M13,12h2v1h-2zm6,3h2v1h-2zm46,5h2v1h-2zm21,0h2v1h-2zm95,0h1v15h-1zm8,0h1v3h-1zm-185,1h1v2h-1zm204,3h1v1l-1,2h-1v-2zm-147,4h1l2,2v1h-1l-2-2zm-35,1h1v2h-1zm26,0h1v4h-1zm97,0h2v1h-2zm-5,2h1v1l-1,1h-1v-1zm79,1h1v2h-1zm-163,5h2v4h-1l-1-1zm-47,4h2v1h-2zm50,0h2v1h-2zm23,0h2v1h-2zm85,0h2v1h-2zm42,0h2v1h-2z" />
    </g>
    <g style="fill:rgb(10,21,100);fill-rule:evenodd;stroke:rgb(10,21,100);stroke-width:0.1;" id="l8">
      <path d="M19,12h2v1h-2zm-8,4h1v1l-2,2h-1v2h-1v-2zm96,4h1v4h-1zm9,2h1v2h-2v-1zm-74,2h1v1l-2,2h-1v-1zm68,0h1v1l-1,1h-1v-1zm14,1h1v2h-1zm-69,4h1v4h-1zm-26,1h1v3h-1zm181,4h1v2h-1zm-170,1h1l2,2v1h-1l-2-2zm156,1h1v2h-1zm-157,3h1v3h-1zm116,0h1v1l-1,1h-1v-1zm-107,2h2v1h-2zm20,0h2v1h-2zm23,0h2v1h-2z" />
    </g>
    <g style="fill:rgb(4,4,60);fill-rule:evenodd;stroke:rgb(4,4,60);stroke-width:0.1;" id="l9">
      <path d="M122,20h1v2h-1zm-93,1h1v2h-1zm65,0h1l1,1v1h-1l-1-1zm62,0h1l2,2v2h-1c0-2-1-2-2-3zm66,0h1l2,2v1h-1l-2-2zm-137,2h2v1l-2,1h-1v-1zm-22,2h1c0,2,1,2,2,3v1h-1l-2-2zm34,0h1v2h-1zm129,3h1v6h-1zm-17,2h1v2h-1zm-62,2h2v1l-2,1h-1v-1zm-2,3h1v2h-1zm-92,3h1v1l-2,2h-1v-1zm126,1h1v1l-1,1h-1v-1z" />
    </g>
    <g style="fill:rgb(148,60,4);fill-rule:evenodd;stroke:rgb(148,60,4);stroke-width:0.1;" id="l10">
      <path d="M22,16h1l2,2v1h-1l-2-2zm4,9h1v4h-1zm180,4h1v4h-1zm-127,1h1v3h-1zm52,0h1v2h-1zm92,0h1v2h-1zm-93,3h1v2h-1zm12,2h1v2h-1zm13,1h1v1l-1,1h-1v-1zm-74,2h1l1,1v1h-1l-1-1zm86,0h1l2,2v1h-1l-2-2zm-11,1h1v3h-1zm25,0h1v3h-1z" />
    </g>
    <g style="fill:rgb(100,32,16);fill-rule:evenodd;stroke:rgb(100,32,16);stroke-width:0.1;" id="l11">
      <path d="M119,20h1v2h-1zm-9,1h1v1l-2,2h-1v-1zm-84,1h1v3h-1zm197,6h1v2h-1zm-198,5h1v1l-1,2l-2,2h-1v-1l1-1h1v-2zm46,2h1v2h-1zm59,0h1v1l-1,2h-1v-2zm-125,1h1l3,3v1h-1l-3-3zm162,0h1v2h-1zm41,2h1l2,2v1h-1l-2-2z" />
    </g>
    <g style="fill:rgb(60,100,100);fill-rule:evenodd;stroke:rgb(60,100,100);stroke-width:0.1;" id="l12">
      <path d="M70,20h2v1h-2zm148,21h2v1h-2z" />
    </g>
  </svg>
</ion-content>
