page-edit-comment {
  #myInput {
    background-color: #F2F2F2 !important;
    width: calc(100% - 10px);
    border: 1;
    border-radius: 15px !important;
    background: transparent;
    padding: 10px !important;
    border-color: #D8D8D8;
  }
}
