<ion-header #head>
  <ion-navbar color="primary">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar (click)="openPage('SearchPage', {mode: 'searchAll'})" mode="ios" placeholder="Buscar">
    </ion-searchbar>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-tabs tabsPlacement="top">
    <ion-tab *ngFor="let tab of tabs" [root]="tab.component" [tabTitle]="tab.title" [tabIcon]="tab.icon" (click)="openPage(tab.component)"></ion-tab>
  </ion-tabs>
</ion-content>
