<ion-content padding>
  <ion-item class="alert-header">
    <ion-avatar item-start (click)="openPage('ProfilePage', { userId: alert.userId, email: alert.email })">
      <img-loader [src]="alert.userImg" useImg fallbackUrl="assets/imgs/default-profile.jpg"></img-loader>
    </ion-avatar>
  
    <h2>
      <span style="width:10%; display:inline-block;" (click)="openPage('ProfilePage', { userId: alert.uid, email: alert.userData.__zone_symbol__value.email })"><b> {{ alert.displayName }}</b></span>
    </h2>

    <p>{{alert.registDate | timeAgo}} · <ion-icon name="md-globe"></ion-icon></p>
  </ion-item>

  <ion-item no-lines> 
    <b>Fecha:</b> {{ alertDate }}
  </ion-item>

  <ion-item no-lines>
    <b>Hora:</b> {{ alertHour }}
  </ion-item>

  <ion-item no-lines>
    <b>Clasificación:</b> {{ alert.alertType }}
  </ion-item>

  <ion-item no-lines *ngIf="alert.chapasNo.length>0" text-wrap>
    <ion-label class="label-chapa"><b>Chapa:</b></ion-label>
    <div item-content>
      <button ion-button outline *ngFor="let chapa of alert.chapasNo" color="danger">{{ chapa }}</button>
    </div>
  </ion-item>

  <ion-item no-lines text-wrap>
    {{alert.description}}>
  </ion-item>

  <ion-item no-lines class="image-container" *ngIf="alert.images.length>0">
    <ion-slides pager (ionSlideNextStart)="loadNextImage(alert.id)">
      <ion-slide *ngFor="let img of alert.images; let i = index" [ngClass]="img.thumbnail ? 'video-thumbnail img-slide' : 'img-slide'" (click)="viewFile(img)">
        <img-loader [src]="img.thumbnail ? img.thumbnail : img.src" useImg></img-loader>
      </ion-slide>
    </ion-slides>
  </ion-item>

  <ion-item no-lines text-wrap class="mapa-item">
      <ion-icon name="ios-pin" item-left></ion-icon>
      <b>Ubicación:</b> {{locationSelected}}
  </ion-item>

  <ion-item no-lines class="map-item" [hidden]="!showMap">
    <div #map id="map" item-content>

    </div>
  </ion-item>

</ion-content>
