page-view-alert {

  .video-thumbnail {
    &:before {
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      content: "\f01d";
      font-family: FontAwesome;
      font-size: 50px;
      color: #fff;
      opacity: .8;
      text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    }
    &:hover:before {
      color: #eee;
    }
  }

  .location-label {
    margin: 13px 2px 13px 0 !important;
  }

  .location-input .text-input{
    margin: 8px 0px !important;
  }

  .item {
    padding-left: 0px !important;
  }

  .item-inner {
    margin-left: 0px !important;
  }

  .map-item {
  height: 200px !important;
  border-radius: 10px !important;
  margin-bottom: 5px;
  }

  .map-item.files-item {
    padding-left: 16px !important;
  }

  .files-item .item-inner {
    padding-right: 0px !important;
  }

  .map-item .item-inner {
    padding-right: 0px !important;
  }

  #map {
    width: 100%;
    height: 100%;
  }

  ion-textarea{
    border: solid 1px;
    border-radius: 5px;
    border-color: #E8E8E8;
    margin-top: 5px;
  }

  .label-chapa {
    overflow: visible;
  }
}
