<ion-menu [content]="content">

  <ion-content>

    <div class="avatar-container-header">
      <div class="avatar-container">
        <img-loader [src]="photoURL" useImg class="avatar-img" (click)="openPage({component:'ProfilePage'})" fallbackUrl="assets/imgs/default-profile.jpg" menuClose></img-loader>
      </div>
    </div>

    <ion-item text-center no-lines class="username-item" (click)="openPage({component:'ProfilePage'})" menuClose>
      <h2>
        <span><b>{{displayName}}</b></span>
      </h2>
    </ion-item>

    <ion-list>
      <ion-item *ngFor="let p of pages" menuClose (click)="openPage(p)">
        <ion-icon name="{{p.icon}}" item-start></ion-icon>
        <span>{{p.title}}</span>
		    <ion-badge *ngIf="p.component=='ReceivedAlertsPage' &&  unseenReceivedAlerts>0" item-end color="danger">{{unseenReceivedAlerts}}</ion-badge>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
