page-rooms {
    #wrapper {
        text-align: center;
      }

  .alert-header .label {
    margin-bottom: 0px !important;
  }

  .avatar-col, .user-name-col {
    padding: 0 !important;
  }

  .avatar-profile-img {
    margin-top: 0 !important;
  }

  .date-col {
    text-align: right;
  }

  .unSeenRoom * {
    font-weight: bold;
  }
}
