<ion-content padding>
  <ion-calendar #calendar lang="es" (onDaySelect)="onDaySelect($event)" [initDate]="date"></ion-calendar>
    <ion-item>
    <button ion-button round outline (click)="close()">Cancelar</button>
    <button ion-button round outline item-end (click)="changeDate()">Ok</button>
  </ion-item>
</ion-content>
