page-comments {
  .comment-preview {
    margin: 0 !important;
    width: 100%;
  }

  .comment-area {
    background-color: #EEEEEE;
    border-radius: 4px 4px 4px 4px;
    margin-right: 5px !important;
  }

  .scroll-content {
    padding: 0 !important;
  }

  .ion-card {
    box-shadow: none !important;
  }

  .comment-content {
    border-radius: 10px !important;
  }

  #myInput {
    background-color: #F2F2F2 !important;
    width: calc(100% - 10px);
    border: 1;
    border-radius: 15px !important;
    background: transparent;
    padding: 10px !important;
    border-color: #D8D8D8;
  }

  .chat {
    width: 320px;
  }

  .bubble {
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
  }
  /*
.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}
 */
  .me {
    float: left;
    margin: 5px 2px 2px 2px;
  }

  .me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
  }

  .you {
    float: right;
    margin: 5px 20px 5px 45px;
  }

  .you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
  }

  .chatwindow {
    padding-bottom: 70px;
  }

  .comment-container .label {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  ion-spinner {
    display: block;
    margin: auto;
  }

  .comment-button {
    margin: 1px 8px 1px 0 !important;
  }

  .new-comment-item .label{
    margin: 1px 8px 1px 0 !important;
  }

  .new-comment-item {
    padding-left: 5px !important;
  }

  .comment-textarea {
    width: 100% !important;
  }
}
