<ion-header>

  <ion-navbar>
    <ion-title text-center>Comentarios</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-spinner [hidden]="!loading"></ion-spinner>
  
  <div class="chatwindow">
    <ion-list no-lines>
      <ion-item *ngFor="let comment of comments; let i = index" id="{{comment.id}}" text-wrap class="comment-container" (press)="presentPopover($event, comment)">
        <ion-row>
          <ion-col col-2>
            <ion-avatar item-left>
              <img-loader [src]="comment.userImg" useImg fallbackUrl="assets/imgs/default-profile.jpg"></img-loader>
            </ion-avatar>
          </ion-col>
          <ion-col col-10>
            <div class="bubble me">
              <h2>
                <span (click)="openPage('ProfilePage', { userId: comment.userId })"><b> {{ comment.displayName }}</b></span>
              </h2>
              <p>{{ comment.commentDate | timeAgo}}</p>
              <h3>{{ comment.comment }}</h3>
            </div>
          </ion-col>

        </ion-row>
      </ion-item>
    </ion-list>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-item class="new-comment-item">
    <textarea #myInput id="myInput" class="comment-textarea" rows="1" maxLength="500" (keyup)="resize()" [(ngModel)]="comment" placeholder="Escribe un comentario..."></textarea>
    <button ion-fab item-right (click)="addComment()" [disabled]="comment==''" class="comment-button">
      <ion-icon name="md-send" color="light"></ion-icon>
    </button>
  </ion-item>
</ion-footer>
